<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Taskr</title>

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/imgs/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/imgs/favicon-16x16.png" sizes="16x16" />

  <!-- Pico.css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.blue.min.css" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" /> -->

  <!-- Personal css -->
  {{!--
  <link rel="stylesheet" href="/css/mystyles.css" /> --}}
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- Logo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header style="margin: 0; padding: 0;">
    <div class="container app-header">
      <div class="logo-wrapper">
        <svg class="logo" id="eFG6uYEB0Sx1" width="400" height="200" preserveAspectRatio="xMidYMid meet"
          viewBox="0 40 100 100" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
          <g>
            <!--Icon shape-->
            <rect width="77" height="77" x="-40" y="50.5" rx="13" ry="13" fill="none" stroke-width="6" />
            <!--Tick-->
            <path
              d="M34.264179,87.977264c5.923501,2.240505,14.069886,12.381528,17.2989,19.275918C58.060229,96.515478,73.388151,78.067343,82.7011,70.678364"
              transform="translate(-59.5, 3)" fill="none" stroke-width="8" stroke-linecap="round"
              stroke-linejoin="round" />
          </g>
          <g>
            <!--"Taskr" text-->
            <text dx="-18" dy="1" font-family="Prompt" font-size="12" font-weight="400"
              transform="matrix(3.379208 0 0 3.832362 107.691444 91.051542)" stroke-width="0">
              <tspan y="0" font-family="Prompt" font-weight="600" stroke-width="0">Taskr</tspan>
              <tspan x="0" y="10" font-family="Roboto" font-weight="400" stroke-width="0" />
            </text>
            <!--"Get shit done" text-->
            <text dx="-59.5" dy="0" font-family="Prompt" font-size="11" text-decoration="overline" font-weight="700"
              transform="translate(113.355163 110.983429)" stroke-width="0">
              <tspan y="4" font-weight="700" stroke-width="0">GET SHIT DONE</tspan>
            </text>
          </g>
        </svg>
      </div>
      <nav id="main-nav">
        <ul>
          <li><a class="primary" href="/">Tasks</a></li>
          <li><a class="primary" href="/data">Data</a></li>
          <li><a class="secondary" href="#">Settings</a></li>
        </ul>
      </nav>
      <nav id="nav-small-screen">
        <ul>
          <li>
            <a class="secondary" id="open-sidebar" href="#">
              <svg width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 18L20 18" stroke-width="2" stroke-linecap="round" />
                <path d="M4 12L20 12" stroke-width="2" stroke-linecap="round" />
                <path d="M4 6L20 6" stroke-width="2" stroke-linecap="round" />
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container grid main-screen">
    <section class="sidebar-container">
      <aside id="sidebar">
        <header class="flex" id="sidebar-header-small-screen">
          <a id="close-sidebar" href="#">
            <svg width="24px" height="24px" fill="#FFFFFF" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M697.4 759.2l61.8-61.8L573.8 512l185.4-185.4-61.8-61.8L512 450.2 326.6 264.8l-61.8 61.8L450.2 512 264.8 697.4l61.8 61.8L512 573.8z" />
            </svg>
          </a>
        </header>
        <h1 style="padding-top: 2rem; padding-left: 1rem;">Settings</h1>
        <nav class="overflow-auto" id="sidebar-nav">
          <li><a id="logout" href="#" class="secondary">Logout</a></li>
          <li>
            <div>
              <form>
                <input type="checkbox" role="switch" id="theme-switcher" />
                <label for="theme-switcher"></label>
              </form>
            </div>
          </li>
          <li>
            <p>&copy; 2025 Taskr</p>
          </li>
        </nav>
      </aside>
      <dialog class="delete-account-dialog">
        <article>
          <header>
            <hgroup>
              <h1 style="color: var(--pico-del-color)">WARNING</h1>
              <h2 style="color: var(--pico-del-color)">You are about to delete your account</h2>
              <p style="color: var(--pico-del-color)">This action cannot be undone. Are you sure you want to proceed?
              </p>
            </hgroup>
          </header>
          <label for="confirm-password-delete-account">Enter your password to confirm</label>
          <input type="password" id="confirm-password-delete-account" name="confirm-password-delete-account" required>
          <label for="delete-account-input">Type 'DELETE' to confirm</label>
          <input type="text" id="delete-account-input" name="delete-account-input" required>
          <p id="delete-account-error" style="display: none; color: var(--pico-del-color)">Incorrect password or
            confirmation</p>
          <p style="color: var(--pico-del-color)">
            <strong><i>This action cannot be undone.</i></strong>
          </p>
          <footer>
            <button class="secondary" id="cancel-delete-account">Cancel</button>
            <button class="primary" id="confirm-delete-account">Delete</button>
          </footer>
          <h1 id="confirmation-of-deletion" style="color: var(--pico-del-color); display: none;">Account Deleted</h1>
        </article>
      </dialog>
    </section>
    <section>
      <div class="user-details">
        <h2 style="margin-top: 2rem">Your Details</h2>
        <div class="user-detail-pair">
          <p>Username:</p>
          <p id="username">{{settings.user_username}}</p>
        </div>
        <div class="user-detail-pair">
          <p>Full Name:</p>
          <p id="name">{{settings.user_first_name}} {{settings.user_last_name}}</p>
        </div>
        <div class="user-detail-pair">
          <p>Email:</p>
          <p id="email">{{settings.user_email}}</p>
        </div>
        <button id="edit-details">Edit Details</button>
      </div>
      <div class="change-password">
        <h2 style="margin-top: 2rem">Change Password</h2>
        <p id="update-password-success" style="display: none;">Password changed successfully</p>
        <button id="change-password-button">Change Password</button>
        <p id="password-change-success" style="display: none;">Password changed successfully</p>
        <form id="change-password-form" style="display: none;">
          <label for="current-password">Current Password</label>
          <input type="password" id="current-password" name="current-password" required>
          <label for="new-password">New Password</label>
          <input type="password" id="new-password" name="new-password" required>
          <label for="confirm-password">Confirm New Password</label>
          <input type="password" id="confirm-password" name="confirm-password" required>
          <p id="password-match-error" style="display: none;">Passwords do not match</p>
          <p id="password-change-error-failure" style="display: none;">Password change failed</p>
          <p id="current-password-error" style="display: none;">Current password is incorrect</p>
          <p id="password-length-error" style="display: none;">Password must be at least 8 characters long</p>
          <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
            <button type="submit" id="confirm-password-change">Save</button>
            <button class="secondary" type="button" id="cancel-password-change">Cancel</button>
          </div>
        </form>
      </div>
      <div class="custom-categories">
        <h2 style="margin-top: 2rem">My Custom Categories</h2>
        <ul id="custom-categories-list">
          {{#if categories.length}}
          {{#each categories}}
          <li class="category-list-item" data-category-id="{{category_id}}">{{category_name}} <button
              class="custom-categories-delete">X</button></li>
          {{/each}}
        </ul>
        {{else}}
        <p>No categories found</p>
        {{/if}}
        <p id="category-delete-conflict" class="error" style="display: none;">Error: cannot delete a category that is in use.</p>
        <form id="add-category-form">
          <fieldset role="group">
            
            <input type="text" id="new-category" name="new-category" placeholder="Add custom category" required>
            <button id="add-category" type="submit">Add</button>
          </fieldset>
        </form>
      </div>
      <div class="delete-account">
        <h2 style="margin-top: 2rem">Account</h2>
        <button id="delete-account-button">Delete Account</button>
      </div>
    </section>
  </main>
  <!-- Include the Handlebars library -->
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>

  <!-- Include the Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- Scripts for functionality and dynamic content -->
  <script src="/javascript/handlebarsSetup.js"></script>
  <script src="/javascript/themeSwitcher.js"></script>
  <script src="/javascript/slideInNavMobile.js"></script>
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/settings.js" type="module"></script>
</body>

</html>